<% if notice != nil %><p id="notice"><%= notice %></p><% end %>

<div class="blog_title">
<%= @blog.title %> <% if session[:user_id] == @blog.user_id %> <%= link_to image_tag('pencil-3x.png'), edit_blog_path(@blog) %><% end %>
</div>

<div class="blog_description">
  <%= @blog.description %>
</div>

<div class="blog_meta">
  Created by <%= @blog.user.username %>
</div>

<% if session[:user_id] == @blog.user_id %><div><%= link_to 'New Post', new_blog_post_path(@blog) %></div><% end %>

<% @blog.posts.order(publish_date: :desc).each do |post| %>
	<div class="post">
		<div class="post_title"><%= link_to post.title, blog_post_path(@blog, post) %></div>
		<div class="post_meta">Published <%= post.publish_date %></div>
		<div class="post_body"><%= simple_format(sanitize(truncate(post.body, escape: false, length: 400, separator: ' '), attributes: %w(class href style target)), {}, sanitize: false) %></div>
	</div>
<% end %>
