<%
=begin
%>

Copyright (C) 2017 William B. Hauck, http://www.wbhauck.com

This file is part of BlogApp.

BlogApp is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BlogApp is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with BlogApp.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<% if notice != nil %><p id="notice"><%= notice %></p><% end %>

<div class="blog_title">
<%= @blog.title %> <% if session[:user_id] == @blog.user_id %> <%= link_to image_tag('pencil-3x.png'), edit_blog_path(@blog) %><% end %>
</div>

<div class="blog_description">
  <%= @blog.description %>
</div>

<div class="blog_meta">
  Created by <%= @blog.user.username %>
</div>

<% if session[:user_id] == @blog.user_id %><div><%= link_to 'New Post', new_blog_post_path(@blog) %></div><% end %>

<% @blog_public_posts.each do |post| %>
	<div class="post">
		<div class="post_title"><%= link_to post.title, blog_post_path(@blog, post) %></div>
		<div class="post_meta">Published <%= post.publish_date %></div>
		<div class="post_body"><%= simple_format(sanitize(truncate(post.body, escape: false, length: 400, separator: ' '), attributes: %w(class href style target)), {}, sanitize: false) %></div>
	</div>
<% end %>
