<% if notice != nil %><p id="notice"><%= notice %></p><% end %>

<div class="blog_title">
<%= @blog.title %> <% if session[:user_id] == @blog.user_id %> <%= link_to image_tag('pencil-3x.png'), edit_blog_path(@blog) %><% end %>
</div>

<div class="blog_description">
  <%= @blog.description %>
</div>

<div class="blog_meta">
  Created by <%= @blog.user.username %>
</div>

<% @blog.posts.order(publish_date: :desc).each do |post| %>
	<div class="post">
	<div class="post_title"><%= link_to post.title, blog_post_path(@blog, post) %></div>
	<div class="post_body"><%= sanitize simple_format(truncate(post.body, escape: false, length: 400, separator: ' ')) %></div>
	</div>
<% end %>
