<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email primary:</strong>
  <%= @user.email_primary %>
</p>

<p>
  <strong>Email secondary:</strong>
  <%= @user.email_secondary %>
</p>

<p>
  <strong>Phone mobile:</strong>
  <%= @user.phone_mobile %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @user.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

