<%
=begin
%>

Copyright (C) 2017 William B. Hauck, http://www.wbhauck.com

This file is part of BlogApp.

BlogApp is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BlogApp is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with BlogApp.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<%= form_with(model: tag, local: true) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tag_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :tag_description %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :tag_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
