<p id="notice"><%= notice %></p>

<p>
  Posts tagged with <%= @tag.name %>
</p>

<% @tag.posts.order(publish_date: :desc).each do |post| %>
	<div class="post">
		<div class="post_title"><%= link_to post.title, blog_post_path(post.blog, post) %></div>
		<div class="post_meta">Published <%= post.publish_date %></div>
		<div class="post_body"><%= simple_format(sanitize(truncate(post.body, escape: false, length: 400, separator: ' '), attributes: %w(class href style target)), {}, sanitize: false) %></div>
	</div>
<% end %>
