<div class="post_blog_title">
</div>

<div class="post_title">
  <%= @post.title %> <% if session[:user_id] %>(<%= link_to "Edit", edit_blog_post_path(@blog, @post) %>)<% end %>
</div>

<div class="post_meta">
  Published <%= @post.publish_date %> by <%= @post.user.username %> in <%= link_to @post.blog.title, @post.blog %>
</div>

<div class="post_body">
  <%= sanitize simple_format(@post.body) %>
</div>

