<%
=begin
%>

Copyright (C) 2017 William B. Hauck, http://www.wbhauck.com

This file is part of BlogApp.

BlogApp is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BlogApp is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with BlogApp.  If not, see <http://www.gnu.org/licenses/>.

<%
=end
%>


<div class="post_blog_title">
</div>

<div class="post_title">
  <%= @post.title %> <% if current_user.id == @post.user_id %> <%= link_to image_tag('pencil-3x.png'), edit_blog_post_path(@blog, @post) %><% end %>
</div>

<div class="post_meta">
  Published <%= @post.publish_date %> by <%= @post.user.username %> in <%= link_to @post.blog.title, @post.blog %>
</div>

<div class="post_body">
  <%= simple_format(sanitize( @post.body, tags: %w(a h1 h2 h3 h4 h5 table thead tbody tr th td), attributes: %w(class href style target)), {}, sanitize: false) %>
</div>


<div>
Tagged:
<% len = @post.tags.length %>
<% @post.tags.order(:name).each_with_index do |tag, index| %>
        <%= link_to tag.name, tag -%><% if index < len - 1 %>,<% end %>
<% end %>
</div>

<% if user_signed_in? %>
<%= form_for @post_tag do |f| %>
  <%= collection_select(:post_tag, :tag_id, Tag.all.order(:name), :id, :name, include_blank: true) %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <input type="submit" value="Add Tag" />
<% end %>
<% end %>
<br>
<br>

